*{
    padding: 0;
    margin: 0;
    /* box-sizing:content-box; */
}

.container{
    width:100vw;
    height: 100vh;
    background-color: #3d087B;
}

 /* this is top-navigation css */
.left-nav{
 width:40%;
 height: 80px;
 background-color: none;
 position: absolute;
 left:10%;
 top:30px;
}

.left-box-1{
    width:200px;
    height: 70px;
    background-color: none;
    float: left;
}

.left-box-2{
    width:204px;
    height: 70px;
    background-color: white;
    float: right;
    border-radius: 10px;
    margin-right: 20px;
    position: relative;
    top:-7%;
}

.in-left-box-2{
    clip-path: polygon(0 61%, 0 0, 73% 0, 73% 17%, 80% 25%, 74% 34%, 74% 60%);
    background-color: white;
    width: 260px;
    height: 95px;
    position: absolute;
    top:9px;
    left:10px;
}
/* this is middle box css */

.left-box-3{
    width:40%;
    height: 285px;
    background-color: white;
    position: relative;
    left:10%;
    top:17%;
    border-radius: 20px;
   }

 .c{
    width:2px;
    height: 30px;
    background-color: #3d087B;
    /* visibility: hidden; */
    margin-left: 30px;
   }

   .img1{
    width: 34px;
    height: 34px;
    margin-left: 15px;
    margin-top:7px
   }

   input[type=text], select, textarea {
    width: 50%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    display: inline-block;
  }

   .col-A {
    margin-left:80px;
    width: 40%;
    margin-top: -30px;
    color: #3d087B;
  }
  
  .col-B {
    color: #3d087B;
    margin-left:250px;
    width: 100%;
    margin-top: -20px;
  }

   /* this is good morning box css */
   .left-box-4{
    width:40%;
    height: 60px;
    background-color: #8E53F0;
    position: relative;
    left:10%;
    top:19%;
    border-radius: 10px;
   }

   p{
    top:10px;
    width:400px;
    height: 40px;
    text-align: left;
    font: normal normal 900 27px/34px Bauhaus Hv BT;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
    background-color: none;
    left: 10px;
   }

   /* this is set alarm css */
   .left-box-5{
    width:20%;
    height: 50px;
    background-image: linear-gradient(to right , #6E54EC, #CB52F8,#FC5EFF,#F1A7C5);
    position: absolute;
    left:10%;
    top:76.5%;
    border-radius: 5px;
    transition: transform 0.6s;
    font: normal normal 900 25px/40px Bauhau;
    color: white;
    text-align: center;
    align-items: center;
   }
   
   .left-box-5:hover {
    background-image: linear-gradient(to right , #F1A7C5 ,#FC5EFF,#CB52F8,#6E54EC);
    font-size: 0;
  }
  
.left-box-5:hover:after{
    content: attr(data-hover);
    text-align: center;
    font: normal normal 900 25px/40px Bauhaus Hv BT;
    color: white;   
}

   h2{
    color: white;
    text-align: center;
    margin-top:10px;
   }

   .left-box-6{
    width:19%;
    height: 85px;
    background-color: #8E53F0;
    position: absolute;
    left:31%;
    top:76%;
    border-radius: 7px;
   }
   
 .left-box-7{
    width:15%;
    height: 50px;
    background-color: white;
    position: absolute;
    left:90px;
    top:88%;
    border-radius: 5px;
   }
  
   .inside-left-7{
    clip-path: polygon(0 100%, 0 37%, 81% 36%, 86% 26%, 91% 36%, 100% 36%, 100% 100%);
    background-color: white;
    width: 90%;
    height: 70px;
    margin-left: 10px;
    margin-top: -25px;
   } 


/* ##################################### Right side css ####################################### */

.right-box-A1{
    top: 67px;
    left: 785px;
    width: 379px;
    height: 100px;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 10px;
    opacity: 0.22;
}

.right-box-A2{
    position: absolute;
    top: 55px;
    left: 766px;
    width: 416px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 10px;
    opacity: 0.71;
}

.right-box-A3{
    position: absolute;
    top: 42px;
    right: 9%;
    width: 536px;
    height: 100px;  
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
 }

.a3{
   width:480px;
   height: 70px;
   /* background-color: red; */
   margin-top: 15px;
   margin-left: 25px;
}

.b1{
    height: 70px;
    width: 70px;
    background-image: url(./b1\ pink.png);
    margin-left: 80px;
    float: left;
}

.d1{
    height: 70px;
    width: 10px;
    color: #8A11BF;
    float: left;
    font-weight: bold;
    font-size: 30px;
    margin-top: 18px;
    margin-left: 10px;
}

.c1{
    margin-top: 10px;
    height: 30px;
    width: 60px;
    /* background-color: white; */
    text-align: center;
    color: #8A11BF;
    font-weight: bold;
    font-size: 25px;
}

.c2{
    margin-top: 0px;
    height: 30px;
    width: 60px;
    /* background-color: white; */
    text-align: center;
    color: #8A11BF;
}

.c3{
    margin-top: 20px;
    margin-left: 5px;
    font-size: 30px;
    height: 30px;
    width: 60px;
    /* background-color: white; */
    text-align: center;
    color: white;
}

.b2{
    height: 70px;
    width: 70px;
    background-image: url(./b1\ pink.png);
    float: left;
    margin-left: 10px;
}

.b3{
    height: 70px;
    width: 70px;
    background-image: url(./b1\ pink.png);
    float: left;
    margin-left: 10px;
}

.b4{
    float: left;
    height: 70px;
    width: 70px;
    background-image: url(./b2\ purple.png);
    margin-left: 10px;
}

.right-box-B{
    position: absolute;
    top: 180px;
    left: 706px;
    width: 536px;
    height: 100px;  
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
}

h2{ 
   width: 492px;
   height: 38px;
   margin-top: 30px;
   margin-left: 20px;
   text-align: center;
   font: normal normal 900 25px/40px Bauhaus Hv BT;
   color: #8E53F0;
   text-transform: uppercase;
   opacity: 1;
}

.right-box-C{
    position: absolute;
    top: 300px;
    left: 706px;
    width: 536px;
    height: 250px;  
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
}

.imgbox{
  height: 250px;
  width: 350px;
  margin-left: 70px;
  background-color:white;
  background-image: url(./girl\ picture.png);
  background-size: cover;
  background-repeat: no-repeat; 
}

a{
    font-size: 25px;
    text-align: center;
    color: white;
    text-decoration: none;
   position: absolute;
   bottom:2%;
   left: 50%;
}
